*{
   margin: 0;
   padding: 0;
   background-color: #3b3e3c;
   font-family: Arial;
}
h1{
   text-align: center;
   background:white ;
   padding: 20px;
   font-size: 4rem;
   color: rgb(110, 21, 21);
   font-style: italic;
   text-shadow: rgb(138, 132, 132) 2px 3px 2px;

}

.cards{
   display: flex;
   flex-wrap: wrap;
   width: 50rem;
   height: 30rem;
   margin: 50px auto;
   box-shadow: 5px 9px 5px rgb(224, 221, 221);

   

   
}

h2{
   color:orangered;
   text-align: center;
   padding: 50px;
   background-color: rgb(253, 253, 253);
   letter-spacing: .1rem;
   text-shadow: rgb(202, 201, 201) 2px 3px 2px;

}


.texto p{
   background-color: white;
   text-align: center;
   font-weight: bold;
   padding: 0 0 100px;
   letter-spacing: .1rem;
   


}