footer{
  align-items: center;
  background-color:#dbe3eb;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: black;
  text-align: center;
}
a{
  background-color:#dbe3eb;
  color:#dbe3eb;
}