@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container-de-produtos{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: space-evenly;
    }

    .logo{
        display: none;
    }
    .texto-header{
        display: flex;
        font-size: 12px;
    }
    .texto{
        padding-right: 10px;
    }
}

